:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #04091A;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --myGrey: #a3a2a2;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 50px 5px rgb(245, 248, 250);
}

.header-bg{
    width: 100vw;
    height: 100px;
    background-color: var(--energyWhite);
    border-bottom: 1px solid var(--energyLightGrey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-bg .desktopNavNew .myNav li a{
    color: var(--energyBlack);
}

.desktopNavNew{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

    .desktopNavNew .myNav{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 15px;
        align-items: center;
}


.desktopNavNew .myNav li{
            list-style: none;
        }

.desktopNavNew .myNav li a{
            color: var(--energyWhite);
            font-size: 17px;
            font-weight: 500;
            text-decoration: none;
            padding: 5px;
            position: relative;
        }

 .desktopNavNew .myNav li a.active{
            color: var(--energyRed);
        }

.desktopNavNew .myNav li a:hover{
    color: var(--energyRed);
}
    

.desktopNavNew .engage{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;
    }

    .desktopNavNew .engage button{
            background-color: var(--myGrey);
            color: var(--energyWhite);
            width: 45%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            border-radius: 3px;
            border: none;
            cursor: pointer;
        }

    .header-bg .search-wt{
        font-size: 30px;
        color: var(--energyBlack);
        position: relative;
        right: 100px;
        z-index: -3;
        cursor: pointer;
    }


/*Modal styles*/

body.active-modal, body.active-modal2, body.active-modal3{
    overflow-y: hidden;
}




.modal{
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.overlay {
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--energyBlack);
    opacity: .9;
}


.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    z-index: 10;
    align-self: center;
    position: relative;
    top: 50px;
}

.modal-content .close-modal{
    font-size: 30px;
    cursor: pointer;
    color: var(--energyWhite);
    position: absolute;
    top: 20px;
    right: -150px;
    z-index: 10;
}
